a {
    text-decoration: none;
}
* {
    color: #0e1b61;
}

.wrapper{
    width: 100vw;
    background: linear-gradient(180deg, #ffffff, #cce2ff, #b4d3ff, #d8d4ff, #b0d3ff, #cce2ff);
    display: flex;
    justify-content: center;
}

/*title 導覽列*/
.title{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    z-index: 1000;
}
body {
    padding-top: 60px;
}

.title > .img{
    width: 13vw;
    height: 8vh;
    margin-left: 2vw;
}
.titleList{
    width: 34vw;
    height: 10vh;
    margin-left: 18vw;
    display: flex;
}

.titleBtn{
    width: 8vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    background: none;
    margin: 8px;
}

.titleBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0%;
    height: 5px;
    background-color: #0e1b61;
    transition: width 0.3s ease;
}

.titleBtn:hover::after {
    width: 100%;
}
.titleBtn > .txt{
    scale: 1.2;
    color: #0e1b61;
}

/*進入官網Btn*/
.titleBtn2{
    width: 8vw;
    height: 6vh;
    margin-left: 23vw;
    background: linear-gradient(120deg, #99dfff, #8cbeff);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.titleBtn2:hover{
    background: linear-gradient(120deg, #7abbff, #a4e0ff);
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.container{
    width: 90vw;
    margin-bottom: 100px;
}

/*Home*/
#home{
    width: 90vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.homeImg {
    width: 90vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.homeImg1, .homeImg2 {
    width: 50%;
    height: 100%;
    transition: transform 2s ease, opacity 2s ease;
    object-fit: cover;
}

.homeImg1:hover, .homeImg2:hover {
    opacity: 0.65;
    transform: scale(1.1);
}

/*AboutUs 關於我們*/
.about{
    position: relative;
    width: 90vw;
    height: 400px;
    margin-top: 50px;
}

.aboutTxt1{
    text-align: center;
    scale: 1.2;
}

.aboutTxt2{
    position: absolute;
    font-size: 20px;
    color: #2c35a1;
}

.aboutImg{
    position: absolute;
    left: 65vw;
    top: 0;
    width: 20vw;
    height: 40vh;
    transition: transform 1.3s ease;
}
.aboutImg:hover{
    transform: scale(1.1);
}

/*Members 成員介紹*/
.members{
    width: 90vw;
}
.membersTxt1{
    margin-top: 50px;
    text-align: center;
    scale: 1.2;
}
.membersCardList{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.membersCard{
    width: 90vw;
    height: 40vh;
    background: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 15px;
}
.membersCardImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 100;
}
.membersCardImg:hover{
    filter: grayscale(100%) brightness(0.9);
    transform: scale(1.3);
    transition: filter 0.8s ease, transform 0.8s ease;
}

.membersCardTxt1{
    position: absolute;
    z-index: 500;
    font-size: 40px;
    color: #e7fff8;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px  2px 0 black,
            2px  2px 0 black;
    top: 5vh;
    right: 20vw;
}

.membersCardTxt2{
    position: absolute;
    z-index: 500;
    font-size: 40px;
    color: #e5fdf6;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px  2px 0 black,
            2px  2px 0 black;
    top: 15vh;
    right: 10vw;
}

/*詳細成員介紹*/
.detailedMembersH1{
     width: 75vw;
     height: 8vh;
     margin-top: 100px;
     background: linear-gradient(250deg, #5da3ff, #e1f2ff);}

.membersCardImg01{
    margin-top: 10px;
    width: 75vw;
    height: 80vh;
    transition: transform 1s ease;
}
.membersCardImg01:hover{
    transform: scale(1.05);
}

.detailedMembersList{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.video-container {
    position: relative;
    width: 60%;
    padding-bottom: 33.75%;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Card{
    width: 200px;
    height: 280px;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    position: relative;
    margin: 5px;
    background: linear-gradient(200deg, #b9e8ff, #558dda);
    transition: background-color 1s ease, transform 1s ease;
}
.Card:hover{
    background: linear-gradient(200deg, #57a0ff, #54e0ff);
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.Card-graduate{
    width: 200px;
    height: 280px;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    position: relative;
    margin: 5px;
    background: linear-gradient(200deg, #ffa798, #ff6d54);
    transition: background-color 1s ease, transform 1s ease;
}

.Card-graduate:hover{
    background: linear-gradient(100deg, #ff856f, #ff4a29);
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.CardImg{
    margin-top: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.CardTxt{
    margin-top: 10px;
    font-size: 20px;
}

/*新聞*/
.news{
    width: 90vw;
}

.news-hr{
    color: #000000;
}

.masonry {
    column-width: 200px;
    column-gap: 16px;
}

.masonry img {
    width: 100%;
    margin-bottom: 16px;
    break-inside: avoid;
    display: block;
    transition: transform 0.3s ease ,filter 0.3s ease;
    object-fit: cover;
    border-radius: 20px;
}

.masonry img:hover {
    filter: brightness(0.6);
    transform: scale(1.2);
    z-index: 1;
}

.bottom{
    width: 100vw;
    right: 0;
    left: 0;
    height: 50vh;
    background: linear-gradient(50deg, #717275, #4c4c53, #474646);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomTxt{
    color: #cdcdcd;
    text-align: center;
}
.bottom > .img{
    margin-top: 50px;
    width: 30vw;
    height: auto;
}

.bottom-hr{
    color: #878787;
    width: 100%;
}

.bottom-div {
    margin-top: 50px;
    width: 350px;
    height: 25px;
    display: flex;
    gap: 50px;
}

.bottom-img {
    height: 100%;
    width: auto;
    transition: transform 0.4s ease;
}

.bottom-img:hover {
    transform: scale(1.3) translateX(10px);
    right: 10px;
}


